*{
    margin: 0;
    padding: 0;
    /* outline: 1px dotted red; */
}

#wrapper{
    width: 1000px;
    margin: 0px auto;
    background-color: aliceblue;
}
.container{
    padding: 50px;
}
.navbar{
    border: 1px solid darkslategrey ;
}
.sub_btn{
    text-align: right;
    padding: 15px;
}