<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Stats Page</title>
</head>
<body>
    <div id="wrapper">
        <!-- Navbar -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand"><span>The Wishing App</span> &#127873;  </a>
            <form action="/user/logout" class="form-inline">
                <p class="navbar-brand">Welcome {{logged_user.first_name}} </p> 
                <a href="/user/logout"></a><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button></a>
            </form>
        </nav>
        <div class="sub_btn">
            <a href="/user/dashboard"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Dashboard</button></a>
        </div>
        <div class="container">
            <!-- VALIDATOR MESSAGES -->
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
            <div>
                <h4>Hello {{logged_user.first_name}}! These are your stats!</h4>
            </div>
            <br>
            <!-- DISPLAY stats -->
            <div class="row">
                <div class="col"> 
                    <div class="wish_info_details">
                        <h6>Total wishes granted so far for all users: {{ granted_wishes}} </h6>
                        <p><span>Your granted wishes:</span> {{my_granted_wishes}}</p>
                        <p><span>Your pending wishes:</span> {{pending_wishes}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>